<!doctype html>
<html>
<head>
	<title>TestV2</title>
    <script src="/scripts/jquery-3.2.1.min.js"></script>
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="/fonts/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css"><!-- load fontawesome -->
    
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <link rel="icon" href="images/raspberry.png" type="image/png">
</head>
<body>

    <!-- navbar -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item ">
						<a class="nav-link" href="/profile">Profile <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
						<a class="nav-link" href="/course/<%= courseName %>">Lessons <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item active">
						<a class="nav-link" href="#">Assessments <span class="sr-only">(current)</span></a>
				</li>
                <li class="nav-item ">
                        <a class="nav-link" href="/course/<%= courseName %>/gradebook">Gradebook<span class="sr-only">(current)</span></a>
                </li>
            </ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/logout"><span class="fas fa-sign-out-alt "></span> Logout</a></li>
			</ul>
		</div>
	</nav>

    <div class="page-header text-center">
        <h1><%= courseName %></h1>
    </div>

    <!-- table -->
    <div class="container">
        
        <!-- table -->
        <table class="table table-hover">
            <thead>
                <th>Name</th>
                <th>Description</th>
                <th>Maximum Marks</th>
                <th></th>
            </tr>
            <% for(var i=0; i<availibleAssessments.length;i++){ %>
                <tr>
                    <td><%= availibleAssessments[i].ASSESSMENT_NAME %></td>
                    <td><%= availibleAssessments[i].ASSESSMENT_DESCRIPTION %></td>
                    <td><%= availibleAssessments[i].ASSESSMENT_MAX_MARK %></td>
                    <td><button class="btn btn-primary-outline" data-toggle="modal" data-target="#editAssessment" >Update Student Marks</button></td>
                </tr> 
            <%} %>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><button class="btn btn-primary" data-toggle="modal" data-target="#createAssessment" >Create Assessment</button></td>
            </tr> 
        </table>
    </div>
        
    <!-- Create Assessment Modal -->
    <div class="modal fade" id="createAssessment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create Assessment</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                        <!-- enctype="multipart/form-data"> -->
                        <form action="/course/<%= courseName %>/addAssessment" method="post"> 
                            <div class="form-group">
                                <label>Name</label><br>
                                <input type="text" class="form-control" name="ASSESSMENT_NAME">
                            </div>
                            <div class="form-group">
                                <label>Description</label><br>
                                <textarea  name="ASSESSMENT_DESCRIPTION" class="w-100"> </textarea>
                            </div>
                            <div class="form-group">
                                <label>Maximum Mark</label><br>
                                <input type="text" class="form-control" name="ASSESSMENT_MAX_MARK">
                            </div>
                            <!-- <div class="form-group">
                                <label>Material</label><br>
                                <input type="file" name="filetoupload"><br>
                            </div> -->
                            <button type="submit" class="btn btn-warning btn-lg w-100">Create</button>
                        </form>
    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                </div>
            </div>
        </div>
        
    <!-- Edit Lesson Modal -->
    <div class="modal fade" id="editAssessment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Lesson</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form action="/course/<%= courseName %>/editLesson" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label>Number</label><br>
                        <input type="text" class="form-control" name="lessonNumber">
                    </div>
                    <div class="form-group">
                        <label>Name</label><br>
                        <input type="text" class="form-control" name="LESSON_NAME">
                    </div>
                    <div class="form-group">
                        <label>Description</label><br>
                        <textarea  name="LESSON_DESCRIPTION" class="w-100"> </textarea>
                    </div>
                    <div class="form-group">
                        <label>Material</label><br>
                        <div class="input-group mb-3">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="inputGroupFile03">
                                <label class="custom-file-label text-dark" for="inputGroupFile03">Choose file</label>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-warning btn-lg w-100">Create</button>
                </form>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>

</body>
</html>
