<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>TestV2</title>
    <script src="/scripts/jquery-3.2.1.min.js"></script>
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="/fonts/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css"><!-- load fontawesome -->
    
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <link rel="icon" href="images/raspberry.png" type="image/png">
</head>
<body>

    <!-- navbar -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
						<a class="nav-link" href="/profile">Profile <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item active">
						<a class="nav-link" href="/course/<%= course[0].courseName %>">Lessons <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item ">
						<a class="nav-link" href="/course/<%= course[0].courseName %>/assessment">Assessments <span class="sr-only">(current)</span></a>
				</li>
                <li class="nav-item">
                        <a class="nav-link" href="/course/<%= course[0].courseName %>/gradebook">Gradebook<span class="sr-only">(current)</span></a>
                </li>
            </ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/logout"><span class="fas fa-sign-out-alt "></span> Logout</a></li>
			</ul>
		</div>
	</nav>

    <div class="page-header text-center">
        <h1><%= course[0].courseName %></h1>
        <p class="font-italic"><%= course[0].courseDescription %></p>
    </div>

    <!-- table -->
    <div class="containter" style="padding: 0px 50px">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Lesson</th>
                <th>Description</th>
                <th>Material</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% for(var i=0; i<course.length;i++){ %>
                <tr>
                    <td><%= course[i].lessonNumber %></td>
                    <td><button class="btn btn-primary-outline" data-toggle="modal" data-target="#editLesson"><span class="fas fa-edit text-left"></span>  <%= course[i].LESSON_NAME %></td></button>                                
                    <td><%= course[i].LESSON_DESCRIPTION %></td>
                    <td><%= course[i].LESSON_MATERIAL %></td>
                    <td><a href="/course/<%= course[0].courseName %>/downloadlesson/<%= course[i].lessonNumber %>">Download</a></td>
                </tr> 
            <%} %>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr> 
        </tbody>
    </table>
    </div>

    <!-- Create Lesson Modal
    <div class="modal fade" id="createLesson" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Lesson</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                    <form action="/course/<%= course[0].courseName %>/addLesson" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label>Number</label><br>
                            <input type="text" class="form-control" name="lessonNumber">
                        </div>
                        <div class="form-group">
                            <label>Name</label><br>
                            <input type="text" class="form-control" name="LESSON_NAME">
                        </div>
                        <div class="form-group">
                            <label>Description</label><br>
                            <textarea  name="LESSON_DESCRIPTION" class="w-100"> </textarea>
                        </div>
                        <div class="form-group">
                            <label>Material</label><br>
                            <input type="file" name="filetoupload"><br>
                        </div>
                        <button type="submit" class="btn btn-warning btn-lg w-100">Create</button>
                    </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div> -->

    
    <!-- Edit Lesson Modal
    <div class="modal fade" id="editLesson" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Lesson</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form action="/course/<%= course[0].courseName %>/editLesson" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label>Number</label><br>
                            <input type="text" class="form-control" name="lessonNumber">
                        </div>
                        <div class="form-group">
                            <label>Name</label><br>
                            <input type="text" class="form-control" name="LESSON_NAME">
                        </div>
                        <div class="form-group">
                            <label>Description</label><br>
                            <textarea  name="LESSON_DESCRIPTION" class="w-100"> </textarea>
                        </div>
                        <div class="form-group">
                            <label>Material</label><br>
                            <div class="input-group mb-3">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="inputGroupFile03">
                                    <label class="custom-file-label text-dark" for="inputGroupFile03">Choose file</label>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-warning btn-lg w-100">Create</button>
                    </form>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                </div>
            </div>
        </div> -->
</body>
</html>
