<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>TestV2</title>
    <script src="/scripts/jquery-3.2.1.min.js"></script>
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="/fonts/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css"><!-- load fontawesome -->
    
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <link rel="icon" href="images/raspberry.png" type="image/png">
</head>
<body>

	<!-- navbar -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
						<a class="nav-link" href="profile">Profile <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<% if(user.lecturer) { %>
						<a class="nav-link" href="#" data-toggle="modal" data-target="#createCourse" > Create Course <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/courses" data-toggle="modal" data-target="#addCourse" id="addCourseBut"> Add Course <span class="sr-only">(current)</span></a>
					</li>
					<%} else {%>
						<a class="nav-link" href="/courses" data-toggle="modal" data-target="#addCourse" id="addCourseBut"> Add Course <span class="sr-only">(current)</span></a>
					</li>
					<%}	%>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/logout"><span class="fas fa-sign-out-alt "></span> Logout</a></li>
			</ul>
		</div>
	</nav>

	<div class="container">

		<div class="page-header text-center">
				<% if(user.lecturer) { %>
					<h1><span class="fa fa-anchor"></span> Lecturer Profile</h1>
				<%} else {%>
					<h1><span class="fa fa-anchor"></span> Student Profile</h1>
				<%}	%>
		</div>

		<div class="row">

			<!-- LOCAL INFORMATION -->
			<div class="col-sm-6">
				<div class="well">
					<h3><span class="fa fa-user"></span> Local</h3>

						<p>
							<strong>id</strong>: <%= user.id %><br>
							<strong>username</strong>: <%= user.username %><br>
							<!-- <strong>password</strong>: <%= user.password %> -->
							<strong>email</strong>: <%= user.email %><br>
							<strong>Course</strong>:
							<% for(var i=0; i<course.length;i++){ %>						
								<a class="btn btn-outline-primary" href=<%= "course/" + course[i].courseName %>><%= course[i].courseName %></a>
							<%} %>

						</p>

				</div>
			</div>

		</div>

	</div>


	<!-- Add Course Modal -->
	<div class="modal fade" id="addCourse" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title" id="exampleModalLabel">Add Course</h5>
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
			<div class="modal-body">
				<div id="availableCourses"></div>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		  </div>
		</div>
		</div>

	<!-- Create Course Modal -->
		<div class="modal fade" id="createCourse" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Create Course</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
							<form action="/courses/new" method="post">
								<div class="form-group">
										<label>Course Name</label><br>
										<input type="text" class="form-control" value="EERI313" name="courseName">
								</div>
								<div class="form-group">
										<label>Course Description</label><br>
										<textarea  name="courseDescription"> </textarea>
								</div>
						
								<button type="submit" class="btn btn-warning btn-lg w-100">Create</button>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
					</div>
				</div>
				</div>

		
		<script>
				$( "#addCourseBut" ).on( "click", function( event ) {
					$.ajax({
					url: "availableCourses",
					success: function( result ) {
						console.log(result);
						var text = 'Available Courses: <br>'
						for (let i = 0; i < result.length; i++) {
							text = text + '<a class="btn btn-outline-primary"  href="courses/add/' + result[i].COURSE_ID +'" >' + result[i].courseName + '</a>';
						}
							$(availableCourses).html(text);
					}
				})
				});
		</script>
</body>
</html>
