<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>TestV2</title>
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="/fonts/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css"><!-- load fontawesome -->
    
    <link rel="icon" href="images/raspberry.png" type="image/png">
</head>
<body>

	<nav class="navbar sticky-top navbar-light bg-light">
		<!-- <ul class="nav navbar-nav">
			<li class="active"><a href="#">Home</a></li>
			<li><a href="#">Page 1</a></li>
			<li><a href="#">Page 2</a></li>
		</ul> -->
		<ul class="nav navbar-nav navbar-right">
			<li><a class="navbar-brand nav-link" href="/"><span class="fas fa-sign-out-alt "></span> Logout</a></li>
		</ul>
	</nav>

<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Profile Page</h1>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>

	<div class="row">

		<!-- LOCAL INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-user"></span> Local</h3>

					<p>
						<strong>id</strong>: <%= user.id %><br>
						<strong>username</strong>: <%= user.username %><br>
						<strong>password</strong>: <%= user.password %>
						<strong>email</strong>: <%= user.email %><br>
						<strong>Course</strong>:
						<% for(var i=0; i<course.length;i++){ %>
									,								
									<%= course[i].courseName %>
						<%} %>
					</p>

			</div>
		</div>

	</div>

</div>
</body>
</html>
